@import url(/css/reset.css);

a {
  color: white;
  font-size: larger;
  text-decoration: none;
}
header {
  background-color: #17638b;
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: column;
}
desc {
  display: flex;
  justify-content: center;
}
#text_main {
  width: 380px;
  height: 333px;
  margin-top: 100px;
  margin-right: 20px;
}
#text_title {
  color: white;
  font-size: 3em;
}
#text_sub_title {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  line-height: 1.5em;
}
#btn_main {
  background-color: #f3406a;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}
#img_main {
  margin-top: 100px;
}
header > nav {
  width: 100%;
}
.nav_menu {
  margin-top: 17px;
}

nav > img,
#left_nav {
  float: left;
}
#right_nav {
  float: right;
}
#left_nav > ul > li {
  float: left;
  margin-left: 40px;
}
#right_nav > ul > li {
  float: left;
  margin-right: 40px;
}
img {
  max-width: 100%;
  margin: 9px 22px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 993px) {
}
