@import url(/css/reset.css);

body {
  background-color: blueviolet;
}
header {
  padding: 11px 26px 0 26px;
}
header > nav {
  display: flex;
}

header > nav > ul > li {
  float: left;
}
header > nav > ul > li:last-child {
  float: right;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 993px) {
}
