@import url(/css/reset.css);

a {
  color: white;
  font-size: larger;
  text-decoration: none;
}
header {
  background-color: #17638b;
  width: 100%;

  padding: 10px;
  display: flex;
  flex-direction: column;
}
desc {
  display: flex;
  justify-content: center;
}
#feature_title {
  display: flex;
  justify-content: center;
  width: 0 auto;
  margin: 100px 0 50px 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 900;
  color: #4c4c4c;
  letter-spacing: 0.5px;
}

#feature_detail {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  align-items: center;
}
#feature_detail > div > h3 {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #4c4c4c;
  letter-spacing: 0.5px;
}

#feature_detail > div > p {
  width: 350px;
  margin-top: 20px;
  margin-bottom: 90px;
  font-size: 1.1rem;
  color: #4c4c4c;
  text-align: center;
}
/* 자식선택자 -> 자식에게만 적용. 손자까지는 아님 */
#feature_detail > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}
.wrapper_detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_icon {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #127f9c;
  transition: all 0.1s ease-in;
}
.container_icon:hover {
  transform: scale(1.2);
}
.container_icon > i {
  color: #0c4d5e;
}
#featured_on {
  background-color: #112e51;
}
#featured_on_title {
  text-align: center;
}
#featured_on_title > h1 {
  padding: 90px 0 60px;
  color: white;
}

#featured_on_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 90px;
}
/* #featured_on_list > img {
  transition: all 0.1s ease-in;
}
#featured_on_list:hover {
  transform: scale(1.2);
} */
#text_main {
  width: 380px;
  height: 333px;
  margin-top: 100px;
  margin-right: 20px;
}
#text_title {
  color: white;
  font-size: 3em;
  font-weight: bolder;
}
#text_sub_title {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  line-height: 1.5em;
}
#btn_main {
  background-color: #f3406a;
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  padding: 20px 25px;
  border-radius: 5px;
}
#img_main {
  margin-top: 100px;
}
header > nav {
  width: 100%;
}
.nav_menu {
  margin-top: 17px;
}

nav > img,
#left_nav {
  float: left;
}
#right_nav {
  float: right;
}
#left_nav > ul > li {
  float: left;
  margin-left: 40px;
  letter-spacing: 1px;
}
#right_nav > ul > li {
  float: left;
  margin-right: 40px;
}
img {
  max-width: 100%;
  margin: 9px 22px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 993px) {
}
